<div class="jumbotron container">			
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<img class="image" src="resources/image/angular_title_design.png">
					</div>
					<div class="col-sm-12 col-md-8">
						<h2>Building for the future</h2>
						<p class="lead">Angular is built by a team of engineers who share a passion for making web development feel effortless. We believe that writing beautiful apps should be joyful and fun. We're building a platform for the future.</p>
						<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-4">
						<img class="image" src="resources/image/baallplatform.PNG">
						<h3>Develop Accross All Platform</h3>
						<p class="h6">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.</p>
					</div>	
					<div class="col-md-4">
						<img class="image" src="resources/image/speed_and_performance.PNG">
						<h3>Speed and Performance</h3>
						<p class="h6">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>
					</div>	
					<div class="col-md-4">
						<img class="image" src="resources/image/incredible_toolling.png">
						<h3>Incredible Toolling</h3>
						<p class="h6">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.</p>
					</div>	
				</div>
      </div>