<html ng-app='myTodoApplication'>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="js/module/app.js"></script>
		<script src="js/controller/todoController.js"></script>
		<script src="js/services/taskService.js"></script>
		
	</head>
	
	<body>
		<div class="containerA" ng-controller="myTodoController">
			
			<div class="headerDiv">
				<img src="resources/todoLogo.png" class="img-responsive" alt="Todo Logo">
				<p>Todo Application</p>
			</div>
			
			<div class="mainDiv">
				<div class="inputTodoListDiv">
					<div class="inputForm">
						<form ng-submit="addNewTask()">
							<div class="form-group">
								<label for="newT">Enter A New Task: </label>
								<input type="text" class="form-control" id="newTask" placeholder="Enter a new Task" ng-model="newTask"/>
							</div>
							<button type="Submit" class="btn btn-info myButton" >Add Task</button>
						</form>
					</div>
				</div>
				<div class="showTodoListDiv">
					<div class="selection">
						<button class="btn btn-success myButton" ng-click="getAllTask()">All Task</button>
						<button class="btn btn-danger myButton" ng-click="getCompletedTask()">Completed</button>
						<button class="btn btn-primary myButton" ng-click="getActiveTask()">Active</button>
					</div>
					
					<div class="selectionDetails" ng-repeat="t in task">
						<input type="checkbox" ng-checked="{{t.done}}" ng-click="updateList(t)">
						<p class="taskTitle">{{t.title}}</p>
						<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
					</div>
				</div>
			</div>
			
		</div>
	</body>
	
</html>